<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTL_2.Properties.Settings.UserManagementConnectionString"
            connectionString="Data Source=LAPTOP-M9LQ60VB\SQLEXPRESS;Initial Catalog=UserManagement;Persist Security Info=True;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
        <add name="BTL_2.Properties.Settings.UserManagementConnectionString1"
            connectionString="Data Source=DESKTOP-UBANSNP;Initial Catalog=UserManagement;Persist Security Info=True;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="BTL_2.Properties.Settings.BuildStoreManagerConnectionString"
            connectionString="Data Source=LAPTOP-M9LQ60VB\SQLEXPRESS;Initial Catalog=BuildStoreManager;Persist Security Info=True;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
        <add name="BTL_2.Properties.Settings.UserManagementConnectionString2"
            connectionString="Data Source=DESKTOP-UBANSNP;Initial Catalog=UserManagement;Persist Security Info=True;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="BTL_2.Properties.Settings.BuildStoreManagerConnectionString1"
            connectionString="Data Source=DESKTOP-UBANSNP;Initial Catalog=BuildStoreManager;Persist Security Info=True;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="BTL_2.Properties.Settings.BuildStoreManagerConnectionString2"
            connectionString="Data Source=DESKTOP-UBANSNP;Initial Catalog=BuildStoreManager;Persist Security Info=True;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>